/* Styling for social links within footer */

.fa {
  padding: 15px;
  margin-left: 10px;
  font-size: 20px;
  width: 50px;
  text-align: center;
  text-decoration: none;
  border-radius: 100%;
}

.fa:hover {
  opacity: 0.7;
  color:grey;
}

.fa-facebook {
  color: white;
}

.fa-twitter {
  color: white;
}

.fa-youtube {
  color: white;
}


.template_faq {
    background: #edf3fe none repeat scroll 0 0;
}
.panel-group {
    background: #fff none repeat scroll 0 0;
    border-radius: 3px;
    box-shadow: 0 5px 30px 0 rgba(0, 0, 0, 0.04);
    margin-bottom: 0;
    padding: 30px;
}