.btn_small {
    height: 24px;
    width: 75px;
    line-height: 24px;
    margin: 5px 5px;
    padding: 0 0.5em;
}

body, html {
    height: 100%;
    margin: 0;
}

.bg {
    /* The image used */
    background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTSrDu9mruGaw7T1Ksvd-JgS6lTyRD9xj4l6stm95Mjzy6N3nM-");
   
    /* Height */
    height: 25%; 

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}